<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>


    <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='StyleSheet.css') }}">



</head>
<body>
<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">DC HIT</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a href="#">Home</a></li>
      <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#">Page 1
        <span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a href="#">Page 1-1</a></li>
          <li><a href="#">Page 1-2</a></li>
          <li><a href="#">Page 1-3</a></li>
        </ul>
      </li>
      <li><a href="#">Page 2</a></li>
      <li><a href="#">Page 3</a></li>
    </ul>
  </div>
</nav>




    <!--  <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">

          <!-- Large modal -->
        <!--   <button type="button" class="btn btn-primary" data-toggle="modal" data-target=".bs-example-modal-lg">Large modal</button>



        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">DC HIT Program</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">

        <!--  <ul class="nav navbar-nav">
            <li class="active"><a href="#">Home</a></li>
            <li><a href="#about">About</a></li>
            <li><a href="#contact">Contact</a></li>
          </ul>-->
        </div><!--/.nav-collapse -->
      </div>
    </nav>


<br>
<br>
<br>



    <div class="container">

      <div class="starter-template">
          <br>
          <br>
        <h1>DC HIT Program</h1>
          <h2>Discover the fun way to get lean and stay lean... DC Program</h2>
        <p class="lead">Fuel your body with lots of food and concentrate on correctly timing your macronutrients to <br> ensure your body burns fat, increases in energy and transforms you into the shape of your life.</p>
      </div>
    </div>

<br>
<br>
<br>

        <div class="container">



            <div class="list-group">
                <h1>DC HIT Circuit Workout</h1>
  <a href="#" class="list-group-item active">
    <h4 class="list-group-item-heading">First week work out circuit</h4>
    <p class="list-group-item-text">Running with high knees<br>Burpees<br>Power squats<br>Mountain climbers</p>
  </a>
  <a href="#" class="list-group-item">
    <h4 class="list-group-item-heading">Second week work out circuit</h4>
    <p class="list-group-item-text">List Group Item Text</p>
  </a>
  <a href="#" class="list-group-item">
    <h4 class="list-group-item-heading">Third week work out circuit</h4>
    <p class="list-group-item-text">List Group Item Text</p>
  </a>
                <a href="#" class="list-group-item">
    <h4 class="list-group-item-heading">Fourt week work out circuit</h4>
    <p class="list-group-item-text">List Group Item Text</p>
  </a>
                <a href="#" class="list-group-item">
    <h4 class="list-group-item-heading">Fifth week work out circuit</h4>
    <p class="list-group-item-text">List Group Item Text</p>
  </a>
                <a href="#" class="list-group-item">
    <h4 class="list-group-item-heading">Sixth week work out circuit</h4>
    <p class="list-group-item-text">List Group Item Text</p>
  </a>

                 <p class="lead">Once you’ve completed the workout, take a short break and have a drink. <br>Then it’s time to go again. Do the whole circuit four times. Warm down with a brief jog on the spot, then stretch.</p>
</div>

          <!--   <form class="form-inline">
  <div class="form-group">
    <label for="exampleInputName2">Name</label>
    <input type="text" class="form-control" id="exampleInputName2" placeholder="name">
  </div>
  <div class="form-group">
    <label for="exampleInputEmail2">Email</label>
    <input type="email" class="form-control" id="exampleInputEmail2" placeholder="email">
  </div>
  <button type="submit" class="btn btn-default">Send </button>
</form>-->

            <form method="post" action="/post_user">
                <label>Username:</label>
                <input id=username" name="username" type="text" />
                 <label>Email:</label>
                <input id=email" name="email" type="text" />
                <input type="submit" />

</form>







    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->


    </div><!-- /.container -->
</body>
</html>