{% extends "layouts/layout1.html" %}
{% block title %}
Custom title
{% endblock %}
{% block content %}
   <!-- Header -->
    <header>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <img class="img-responsive" src="/static/img/Profile2.png" alt="">
                    <div class="intro-text">
                        <span class="name">DC Program</span>
                        <hr class="star-light">
                        <span class="skills">light workouts - Can be done from home - Push yourself</span>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <!-- Portfolio Grid Section -->
    <section id="portfolio">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Portfolio</h2>
                    <hr class="star-primary">
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4 portfolio-item">
                    <a href="#portfolioModal1"  class="portfolio-link" data-toggle="modal">
                        <div class="caption">
                            <div class="caption-content">
                                <i class="fa fa-search-plus fa-3x"></i>
                            </div>
                        </div>
                        <img src="/static/img/portfolio/Cabin1.png" class="img-responsive"  alt="">
                    </a>
                </div>
                <div class="col-sm-4 portfolio-item">
                    <a href="#portfolioModal2" class="portfolio-link" data-toggle="modal">
                        <div class="caption">
                            <div class="caption-content">
                                <i class="fa fa-search-plus fa-3x"></i>
                            </div>
                        </div>
                        <img src="/static/img/portfolio/Cake1.png" class="img-responsive" alt="">
                    </a>
                </div>
                <div class="col-sm-4 portfolio-item">
                    <a href="#portfolioModal3" class="portfolio-link" data-toggle="modal">
                        <div class="caption">
                            <div class="caption-content">
                                <i class="fa fa-search-plus fa-3x"></i>
                            </div>
                        </div>
                        <img src="/static/img/portfolio/Circus1.png" class="img-responsive" alt="">
                    </a>
                </div>
                <div class="col-sm-4 portfolio-item">
                    <a href="#portfolioModal4" class="portfolio-link" data-toggle="modal">
                        <div class="caption">
                            <div class="caption-content">
                                <i class="fa fa-search-plus fa-3x"></i>
                            </div>
                        </div>
                        <img src="/static/img/portfolio/Game1.png" class="img-responsive" alt="">
                    </a>
                </div>
                <div class="col-sm-4 portfolio-item">
                    <a href="#portfolioModal5" class="portfolio-link" data-toggle="modal">
                        <div class="caption">
                            <div class="caption-content">
                                <i class="fa fa-search-plus fa-3x"></i>
                            </div>
                        </div>
                        <img src="/static/img/portfolio/Safe1.png" class="img-responsive" alt="">
                    </a>
                </div>
                <div class="col-sm-4 portfolio-item">
                    <a href="#portfolioModal6" class="portfolio-link" data-toggle="modal">
                        <div class="caption">
                            <div class="caption-content">
                                <i class="fa fa-search-plus fa-3x"></i>
                            </div>
                        </div>
                        <img src="/static/img/portfolio/Sub1.png" class="img-responsive" alt="">
                    </a>
                </div>
            </div>
        </div>
    </section>

    <!-- About Section -->
    <section class="success" id="about">

    <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p>his 20-minute workout is suitable for everyone. You can do it at home and there’s no equipment needed; if you’re unsure about your fitness, speak to your doctor first. It involves short bursts of really hard work, followed by periods of rest.</p>
                </div>
                <div class="col-lg-4">
                    <p>Fuel your body with lots of food and concentrate on correctly timing your macronutrients to <br> ensure your body burns fat, increases in energy and transforms you into the shape of your life.</p>
                </div>

            </div>
        </div>

    <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Week 1 Workout Program</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p>Running with high knees<br>Burpees<br>Power squats<br>Mountain climbers</p>
                </div>
                <div class="col-lg-4">
                    <p>If you are a new beginner to this Program I recommend that you start this workout with a warm up.<br> this workout should be done out doing 30 second workout and 30 seconds rest, If you are a beginner do this circut 4 time if not do 5 time</p>
                </div>

            </div>
        </div>
         <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Week 2 Workout Program</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p>Running with high knees<br>Burpees<br>Power squats<br>Mountain climbers<br>Sumo squats</p>
                </div>
                <div class="col-lg-4">
                    <p>If you are a new beginner to this Program I recommend that you start this workout with a warm up.<br> this workout should be done out doing 30 second workout and 30 seconds rest, If you are a beginner do this circut 4 time if not do 5 time</p>
                </div>

            </div>
        </div>
    <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Week 3 Workout Program</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p>Running with high knees<br>Burpees<br>Power squats<br>Mountain climbers<br>Sumo squats<br>Jumping jacks</p>
                </div>
                <div class="col-lg-4">
                    <p>If you are a new beginner to this Program I recommend that you start this workout with a warm up.<br> this workout should be done out doing 30 second workout and 30 seconds rest, If you are a beginner do this circut 4 time if not do 5 time</p>
                </div>

            </div>
        </div>
    </section>



{% endblock %}